.form-wrapper {
  min-width: 100px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.form-header {
  font-size: 1.2rem;
  margin: 15px auto;
}