.conditions-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-label {
  width: 100%;
  margin: 5px  auto;
  font-size: .9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input {
  width: 100%;
  padding: 5px 10px;
  margin: 0 10px;
  border: 1px solid #79ebfa;
  -webkit-box-shadow: 1px 1px 2px 0 #79ebfa;
          box-shadow: 1px 1px 2px 0 #79ebfa;
  border-radius: 5px;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; 
  -webkit-box-pack: center; 
      -ms-flex-pack: center; 
          justify-content: center;
}

.select {
  cursor: pointer;
}