* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #faf8e5;
}

.btn {
  min-width: 100px;
  padding: 5px 10px;
  margin: 5px 10px;
  border: 1px solid #79ebfa;
  box-shadow: 1px 1px 2px 0 #79ebfa;
  border-radius: 5px;
  background: #ffffff;
  cursor: pointer;
  transition: all .35s;
}

.btn:last-child {
  margin: 0 10px 0 0;
}

.btn:hover {
  background: #d0f6fd;
  color: #292929;
}